<div class="modal-dialog" ng-controller="loginCtrl">
	<div class="modal-content">
		<form method="post" role="form" id="login-frm" name="login-frm"  class="form-signin">
	
			<div class="modal-header form-group">
				<h2>Login</h2>
				<p>Dear user, log in to access the admin area!</p>
			</div>
	
			<div class="modal-body">

				<div class="form-group">
					<label for="username">Login account</label>
					<input type="text" class="form-control" name="loginAccount" id="loginAccount" 
						ng-model="user.loginAccount" maxlength="40"
						title="Please enter the login account" placeholder="User name / Email / Phone number" />
				</div>
		
				<div class="form-group">
					<label class="control-label" for="passwd">Password</label>
					<input type="password" class="form-control" name="passwd" id="passwd" 
						ng-model="user.passwd" maxlength="20"
						title="Please enter the password" placeholder="password" />
				</div>
		
				<div class="row">
					<div class="col-lg-6 form-group">
						<div class="checkbox">
							<label>
						  		<input type="checkbox"> Remember me
							</label>
						</div>
					</div>
					<div class="col-lg-6 form-group">
						<button type="submit" class="btn btn-primary pull-right">
							<i class="fa-lock"></i> Log In
						</button>
					</div>
				</div>
				
				<div class="row">
					<div class="col-lg-12 form-group hidden" id="login-msg-area" >
						
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<div class="row">
					<div class="col-lg-6">
						<a href="#forget" class="pull-left">Forgot your password?</a>
					</div>
					<div class="col-lg-6">
						<a href="#register" class="pull-right">Create new account</a>
					</div>
				</div>
			</div>
	
		</form>
	</div>
</div>
